body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login {
    background-color:rgb(250, 44, 240);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgb(250, 44, 240);
}

@media(max-width:768px){
    #login{
       display: flex;
       text-align: justify;
    }
    .login-img img{
        justify-self: center;
        width: 250px;
    }
}